<!-- templates/dashboard.html -->
<!DOCTYPE html>
<html>
<head>
  <title>Amazing Plans!!!</title>
</head>
<body>
  <h2>Welcome {{ request.user.username }}</h2> <!--displaying username logged in-->

  <h3>Available Service Plans</h3>
  <ul>
    {% for plan in plans %} <!--listing all the plans added from the backend-->
      <li>
        <strong>{{ plan.name }}</strong><br>
        Duration: {{ plan.duration_hours }} hours<br>
        Bandwidth: {{ plan.bandwidth_limit_mb }} MB<br>
        Price: KES {{ plan.price }}<br>
        <p>{{ plan.description }}</p>
      </li>
      <!--adding subscribe button to the plans-->
    {% if request.user.subscriberprofile.plan == plan %}
        <em>You are currently subscribed to this plan.</em>
      {% else %}
        <form method="post" action="{% url 'subscription:subscribe_to_plan' plan.id  %}">
          {% csrf_token %}
          <button type="submit", style="background-color: rgb(115, 130, 196);">Subscribe</button>
        </form>
      {% endif %}
    


    {% empty %}
      <p>No plans available at the moment.</p>
    {% endfor %}

  </ul>
</body>
</html>
